body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* #promoBannerBackground{
    background: repeating-linear-gradient(
  -55deg,
  #ffffffe6,
  rgb(79, 79, 79) 10px,
  rgb(34, 34, 34) 10px,
  rgb(39, 39, 39) 20px
);
} */
