

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* colorpallete */
.first-color { 
	background: #f7f7f7; 
}

/* actoin */
.second-color { 
	background: #3b0944; 
}

.third-color { 
	background: #5f1854; 
}


.fourth-color { 
	background: #1abb9c; 
}

